node_modules
dist
.git
.github
.storybook
tests
openapi
*.md
.env
.env.*
.env.example
.prettierignore
.prettierrc.json
.dockerignore
Dockerfile
docker-compose.yml
nginx.conf
playwright.config.ts
LICENSE
